<div class="col-md-6 offset-md-3">
    <h3> Products List</h3>
    <form (ngSubmit) = "onSubmit()">
    
       
        <div class="form-group">
            <label> Product Id</label>
            <input type="text" class ="form-control" id = "productId"
                [(ngModel)] = "employee.productId" name = "productId">
        </div>

        <div class="form-group">
            <label> Product Description</label>
            <input type="text" class ="form-control" id = "productName"
                [(ngModel)] = "employee.productName" name = "productName">
        </div>
    
        <div class="form-group">
            <label> Product Name</label>
            <input type="text" class ="form-control" id = "productDesc"
                [(ngModel)] = "employee.productDesc" name = "productDesc">
        </div>
    
        <div class="form-group">
            <label> Product Price</label>
            <input type="text" class ="form-control" id = "productPrice"
                [(ngModel)] = "employee.productPrice" name = "productPrice">
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 
